# Virtual Environment
venv/
env/
.venv/
automarket/venv/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.pyc

# Django
db.sqlite3
db.sqlite3-journal
media/
staticfiles/
local_settings.py
*.log

# Environment
.env
.env.local
.env.production

# IDE
.idea/
.vscode/
*.swp
.DS_Store